
analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster1.mzML

analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster2.mzML

analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster3.mzML

analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster4.mzML

analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster5.mzML

analyses/2018-02-28-PECAN/PECAN-inputs/Combined-gigas-QC_digested_Mass400to6000.txt

analyses/DNR_PECAN_Run_3_20170308/Combined-digested-edited-gigas-QC_Mass400to6000.tabular

analyses/DNR_PECAN_Run_3_20170308/Combined-gigas-QC_digested_Mass400to6000.tabular

analyses/DNR_Preliminary_Analyses_20170321/.Rhistory
.Rproj.user

analyses/DNR_Skyline_20170511/2017-05-11-high-variation-treatments.xlsx

analyses/DNR_Skyline_20170511/~$2017-05-11-replicate-averages.xlsx

analyses/DNR_Skyline_20170511/~$2017-05-11-high-variation-treatments.xlsx

analyses/DNR_Skyline_20170511/~$2017-05-11-high-variation-treatments.xlsx

analyses/DNR_Skyline_20170511/2017-05-11-replicate-averages.xlsx

analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations.csv

analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-all-treatments.csv

analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-sites.csv

analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-eelgrass.csv

analyses/DNR_Skyline_20170512/2017-05-12-normalized-protein-go-terms.tabular
