analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster1.mzML
analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster2.mzML
analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster3.mzML
analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster4.mzML
analyses/2018-02-28-PECAN/PECAN-inputs/mzML-files/2017_January_23_envtstress_oyster5.mzML
analyses/2018-02-28-PECAN/PECAN-inputs/Combined-gigas-QC_digested_Mass400to6000.txt
analyses/DNR_PECAN_Run_3_20170308/Combined-digested-edited-gigas-QC_Mass400to6000.tabular
analyses/DNR_PECAN_Run_3_20170308/Combined-gigas-QC_digested_Mass400to6000.tabular
analyses/DNR_Preliminary_Analyses_20170321/.Rhistory
.Rproj.user
analyses/DNR_Skyline_20170511/2017-05-11-high-variation-treatments.xlsx
analyses/DNR_Skyline_20170511/~$2017-05-11-replicate-averages.xlsx
analyses/DNR_Skyline_20170511/~$2017-05-11-high-variation-treatments.xlsx
analyses/DNR_Skyline_20170511/~$2017-05-11-high-variation-treatments.xlsx
analyses/DNR_Skyline_20170511/2017-05-11-replicate-averages.xlsx
analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations.csv
analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-all-treatments.csv
analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-sites.csv
analyses/DNR_Skyline_20170511/2017-05-11-nonnormalized-peak-areas-cv-calculations-eelgrass.csv
analyses/DNR_Skyline_20170512/2017-05-12-normalized-protein-go-terms.tabular
analyses/DNR_Skyline_20170512/2017-05-12-normalized-protein-transitions-GO-terms.tabular
analyses/DNR_Skyline_20170512/MSstats/2017-05-13-peptide-results-MSstats.csv
analyses/DNR_Skyline_20170524/2017-06-10-peptide-transition-results-MSstats-no-pivot-error-checked.csv
analyses/DNR_Skyline_20170524/2017-06-10-protein-areas-only-error-checked.csv
analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-22-skyline-to-msstats-peak-areas.csv
analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-skyline-to-msstats-peak-areas-sites-eelgrass.csv
analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-skyline-to-msstats-peak-areas-sites-only.csv
analyses/Haws_04-methylKit/zr3644_10_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_11_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_12_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_13_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_14_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_15_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_16_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_17_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_18_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_19_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_1_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_20_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_21_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_22_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_23_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_24_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_2_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_3_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_4_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_5_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_6_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_7_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_8_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/zr3644_9_R1_val_1_val_1_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Haws_04-methylKit/methylKit.RData
.Rhistory
analyses/Haws_05_BS-SNPer/SNP-results.vcf
analyses/Haws_05_BS-SNPer/SNP-candidates.txt
analyses/Haws_05_BS-SNPer/CpG-meth-info.tab
analyses/Haws_05_BS-SNPer/CHH-meth-info.tab
analyses/Haws_05_BS-SNPer/CHG-meth-info.tab
*.bedgraph
*.bedgraph-Meth
*.bedgraph-sparseMeth
*.bedgraph-unMeth
*.bed
*.bed-Gene
*.bed-exonUTR
*.bed-intron
*.bed-downstreamFlanks
*.bed-intergenic
*.bed-lncRNA
*.bed-TE
*.bed-upstreamFlanks
*.bed-CDS
analyses/Haws_08-GOterm-annotation/20210601-cgigas-roslin-mito-blastx.outfmt6
analyses/Haws_08-GOterm-annotation/cgigas-roslin-mito-blastx.outfmt6.codeIsolated
analyses/Haws_08-GOterm-annotation/gigas-blast-sort.tab
analyses/Haws_08-GOterm-annotation/uniprot-SP-GO.sorted
analyses/Haws_08-GOterm-annotation/gigas-blast-annot.tab
analyses/Haws_08-GOterm-annotation/_blast-annot.tab
analyses/Haws_08-GOterm-annotation/_blast-GO-unfolded.sorted
analyses/Haws_08-GOterm-annotation/_blast-GO-unfolded.tab
analyses/Haws_08-GOterm-annotation/_intermediate.file
analyses/Haws_08-GOterm-annotation/Blastquery-GOslim.tab
analyses/Haws_08-GOterm-annotation/GO-GOslim.sorted
